

.Tutorial1 {
    position: fixed;
    overflow-y: scroll;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    /* overflow-y: scroll; */
    height: 100%;
    width: 100%;
    /* position: flexible; */
    font-size: 18px;
    font-color: lime;
    color: lime;
    z-index: 3;
    /** it was left: 0, now it opens from right **/
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    /* overflow-x: hidden; */
    transition: 0.5s;
  }