.App {
  text-align: center;
}

:root {
  /* background: rgb(255, 255, 255); */
  --ion-color-primary: rgb(20, 35, 245);
  padding: 0px;
  margin: 0px;
  /* width: 100vh; */
}

/* #cursorImg-0 {
  border-right: 1000px solid whitesmoke;
} */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

.menu-content {
  transform: none !important;
}

.ion-button {
  float: right;
}

.my-custom-menu {
  --width: 500px;
}

.md.menu-type-overlay.menu-side-start.hydrated.menu-enabled.show-menu {
  --width: 500px;
}

.md.ion-page.hydrated {
  --width: 500px;
}

.ion-padding.md.hydrated.md.ion-page.hydrated {
  --offset-top: 500px;
  --offset-left: 500px;
  --offset-bottom: 500px;
  --width: 50px !important;
  right: 0px;
  left: 500px;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.score {
  overflow-y: auto;
  overflow-x: auto;
  /* overflow: visible; */
  /* overflow: scroll; */
}

/* .osmdSvgPage1 {
    white-space: nowrap;
overflow: scroll;
} */

/* #rectangle {
  width: 200px;
  height: 100px;
  background: blue;
} */

/* .pianos {
  position:relative;
  bottom: 0;
} */

.ReactPiano__Keyboard {
  overflow-y: scroll;
  position: sticky;
  height: 22vh !important;
  width: 100vh;
  position: sticky !important;
  left: 10px !important;
  bottom: 0px !important;
}

/* .ReactPiano__KeyboardFullScreen {
  overflow-y: scroll;
  position: sticky;
  height: 33vh !important;
  width: 100%;
  position: sticky !important;
  left: 10px !important;
  bottom: 0px !important;
} */

/* .force-overflow {
  min-height: 250px;
} */

/* .ReactPiano__Key {

  display: flex !important;
} */

/* .ReactPiano__NoteLabelContainer {
  flex: 1;
  align-self: flex-end;
} */

/* .ReactPiano__NoteLabel {
  font-size: 12px;
  text-align: center;
  text-transform: capitalize;
  user-select: none;
} */

/* .ReactPiano__NoteLabel--accidental {
  color: #f8e8d5;
  margin-bottom: 3px;
}

.ReactPiano__NoteLabel--natural {
  color: #888;
  margin-bottom: 3px;
} */

/* .ReactPiano__NoteLabel--natural.ReactPiano__NoteLabel--active {
  color: #ff0000;
} */

.page {
    /*!!! FIKSED position of piano keyboard */
  overflow-y: scroll;
  position: sticky;
  top: 0;
  left: 110;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 14px;
  /* width: 100vh !important; */
}

.listLink {
  display: block;
  text-decoration: none;
}

.listItem {
  list-style-type: decimal;
  list-style-position: outside;
}

.listItem:hover {
  background-color: rgba(38, 255, 0, 0.233);
}

/* .btn {
  position: fixed;
  left: 10;
  width: 10vh;
  height: 30px;
  padding: 5px;
  margin: 10px;
} */

/* .MuiIconButton-root {
  background-color: rgba(255, 255, 255, 1) !important;
} */

/* .controller-bar {
  position: fixed;
  left: 0;
  top: 10px;
  width: 0%;
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: block;
  height: 10px;
} */

/* .scoreInfo {
  margin: 0px;
  padding: 0px;
  font-size: calc(10px);
} */

/* .swal-overlay.swal-overlay--show-modal {
  overflow-y: scroll;
  height: 100vh;
  position: bottom !important;
} */

/* .swal-modal {
  width: 100vh;
  overflow-y: auto;
  position: bottom !important;
} */

/* .swal-text {
  display: inline-block;
  display: block;
  overflow-y: auto;
  font-size: calc(14px);
  width: 100vh;
  position: bottom !important;
}

.swal-title {
  font-size: calc(16px);
}

.ion-button {
  position: absolute;
  right: 0px;
  top: 0px;
  zoom: 80%;
} */

.swal-modal {
  background-color: rgb(255, 255, 255);
  font: white;
  border: 3px solid white;
}

.swal-text {
  text-align: center;
  color: #000000;
}
.swal-title {
  text-align: center;
  color: #ff0000;
}
/* cortina menu */



.infoWindow {
  position: fixed;
  left: 30%;
  top: 20%;
  /* left: 0; */
  overflow-y: scroll;
  height: 0%;
  width: 40%;
  font-size: 12px;
  color: #fffefe;
  z-index: 10 !important;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  /* transition: 0.5s; */
  display: fixed;
  /* box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255); */
  box-shadow:inset 0px 0px 0px 2px rgb(255, 255, 255);
}

.infoColorWindow {
  position: fixed;
  left: 30%;
  top: 20%;
  /* left: 0; */
  overflow-y: scroll;
  height: 0%;
  width: 40%;
  font-size: 12px;
  color: #fffefe;
  z-index: 10 !important;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  /* transition: 0.5s; */
  display: fixed;
  /* box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255); */
  box-shadow:inset 0px 0px 0px 2px rgb(255, 255, 255);
}

.infoTranslateNoteWindow {
  position: fixed;
  left: 20%;
  top: 20%;
  /* left: 0; */
  overflow-y: scroll;
  height: 0%;
  width: 60%;
  font-size: 12px;
  color: #fffefe;
  z-index: 10 !important;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  /* transition: 0.5s; */
  display: block;
  /* box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255); */
  box-shadow:inset 0px 0px 0px 2px rgb(255, 255, 255);
}

.contentSettingsWindow {
  height: 100%;
  width: 0;
  position: fixed;
  font-size: 16px;
  color: #fffefe;
  /* z-index: 9111; */
  right: 0;
  /** it was left: 0, now it opens from right **/
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 3 !important;
}

.feedbackWindow {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  height: 0%;
  width: 100%;
  font-size: 12px;
  color: #fffefe;
  z-index: 5 !important;
  background-color: rgba(30, 30, 30);
  /* background-color: rgb(0, 0, 0); */
  box-shadow:inset 0px 1px 0px 0px rgb(97, 97, 97);
  transition: 0.2s;
  margin: 0px;
  padding: 0px;
}

.pianoWindow {
  position: absolute;
  overflow-y: scroll;
  right: 0;
  bottom: 0;
  left: 0;
  /* overflow-y: scroll; */
  height: 0; /*height is seet in PianoController.js in  useEffect(() => {
  width: 100%;
  /* position: flexible; */
  font-size: 12px;
  color: #fffefe;
  /** it was left: 0, now it opens from right **/
  background-color: rgba(0, 0, 0, 0.9);
  /* overflow-x: hidden; */
  transition: 0.2s;
  z-index: 2 !important;
}
/* 
.FullScreenPiano {
  position: absolute;
  overflow-y: scroll;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  font-size: 12px;
  color: #fffefe;
  background-color: rgba(0, 0, 0);
  transition: 0.2s;
  z-index: 20 !important;
} */

.noteTextWindow {
  position: absolute;
  overflow-y: scroll;
  right: 0;
  bottom: 0;
  left: 0;
  /* overflow-y: scroll; */
  height: 50vh; /*height is seet in PianoController.js in  useEffect(() => {
  width: 100%;
  /* position: flexible; */

  color: #fffefe;
  /** it was left: 0, now it opens from right **/
  background-color: rgba(0, 0, 0, 0.9);
  /* overflow-x: hidden; */
  transition: 0.2s;
  z-index: 1 !important;
}


.overlay3 {
  position: fixed;
  overflow-y: scroll;
  right: 0;
  bottom: 0;
  left: 0;
  /* overflow-y: scroll; */
  height: 100%;
  width: 100%;
  /* position: flexible; */
  font-size: 12px;
  color: #fffefe;
  /* z-index: 2; */
  /** it was left: 0, now it opens from right **/
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  /* overflow-x: hidden; */
  transition: 0.5s;
}

.overlay5 {
  position: fixed;
  overflow-y: scroll;
  right: 0;
  bottom: 0;
  left: 0;
  /* overflow-y: scroll; */
  height: 50%;
  width: 100%;
  /* position: flexible; */
  font-size: 12px;
  color: #fffefe;
  /* z-index: 3; */
  /** it was left: 0, now it opens from right **/
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  /* overflow-x: hidden; */
  transition: 0.5s;
}

.translateNotesWindow {
  position: fixed;
  display: none;
  /* width: 100%; */
  height: 50%;
  top: 0;
  left: 60px;
  right: 60px;

  background-color: rgba(0,0,0);
  z-index: 0;
  cursor: pointer;
  overflow-y: scroll;
  overflow-x: scroll;
  /* transform: scale(2); */
  /* transform-origin: 0% 0% 0px; */
}



/* .overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 16px;
  color: #818181f7;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
} */ 

/* @media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
}

/* settings buttons */

.playButton {
  height: 10vh;
  position: fixed;
  left: 2px;
  top: 2vh;
  background-position: 5px;
  background-repeat: no-repeat;
  cursor: pointer;

  transition: 0.5s;
  width: 54px;
}

.stopButton {
  height: 10vh;
  position: fixed;
  left: 2px;
  top: 12.5vh;
  background-position: 5px;
  background-repeat: no-repeat;
  cursor: pointer;

  transition: 0.5s;
  width: 54px;
}

.feedbackButton {
  background-position: 5px;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 10vh;
  position: fixed;
  left: 2px;
  top: 23vh;
  transition: 0.5s;
  width: 54px;
}

.noteCheck2 {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  background-image: url("/public/assets/icons/noteCheck3.svg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}

.pianoWindowButton {
  background-position: 5px;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 10vh;
  position: fixed;
  left: 2px;
  top: 33.5vh;
  transition: 0.5s;
  width: 54px;
  z-index: 10;
}

.settingsButton {
  background-position: 5px;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 10vh;
  position: absolute;
  right: 2px;
  top: 2vh;

  transition: 0.5s;
  width: 54px;
  z-index: 10;
}
/* .settingsButton::after {
  background-position: 5px;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 10vh;
  position: absolute;
  right: 2px;
  bottom: 2vh;

  transition: 0.5s;
  width: 54px;
  z-index: 10;
} */

.contentButton {
  background-position: 5px;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 10vh;
  position: fixed;
  right: 2px;
  top: 12.5vh;
  transition: 0.5s;
  width: 54px;
  z-index: 10;
}



#translateNotesButton {
  background-position: 5px;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 10vh;
  position: fixed;
  right: 2px;
  top: 23vh;

  transition: 0.5s;
  width: 54px;
  /* display: none;*/
  visibility: visible;
  z-index: 10;
}

.noteLeter {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  background-image: url("/public/assets/icons/noteLeter2.svg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}

.infoTranslateNoteButton {
  background-position: 5px;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 10vh;
  position: fixed;
  right: 2px;
  top: 23vh;

  transition: 0.5s;
  width: 54px;
  /* display: none;*/
  visibility: visible;
  z-index: 9;
}

.deleteButton {

  /* background-position: 5px; */
  /* background-repeat: no-repeat; */
  /* cursor: pointer; */
  height: 10vh;
  position: fixed;
  right: 2px;
  top: 33.5vh;
  transition: 0.5s;
  width: 54px;
  z-index: 100 !important;
}

.toggle4 {
  background-repeat: no-repeat;
  cursor: pointer;
  position: fixed;
  top: 150px;
  transition: 0.5s;
  width: 50px;
  height: 35px;
}

.scrollKeyboardButton {
  background-repeat: no-repeat;
  cursor: pointer;
  position: fixed;
  left: 0;
  top: 55vh;
  width: 50px;
  height: 35px;
}

.menuButton {
  background-color: #000306;
  padding: 2px;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  margin: 15px;
}

.menuButtonNoPadding {
  background-color: #000306;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* translate notes window */
/* .translateNotesWindow {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: scroll;
  transition: 0.5s;
  display: block;
}

.translateNotesWindow-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.translateNotesWindow a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.translateNotesWindow a:hover, .translateNotesWindow a:focus {
  color: #f1f1f1;
}

.translateNotesWindow .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .translateNotesWindow a {font-size: 20px}
  .translateNotesWindow .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
} */
/* translate notes window */

/*icons */

.dot {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.dot:after {
  content: "i";
  font-size: 18px;
  color: black;
}

.musicSheetSplash {
  width: 100vh;
  height: 100vh;
}
/*icons */

/* pinch zoom */


/* pinch zoom */




/* #osmdSvgPage1:after { */
 /* display: inline-block;
  position: inherit;

  background: rgba(255, 0, 0, 0.38);
  z-index: 9;  */
  /* width: 300px;
  height: 80%; 
  border-left: 1px #eb311f solid;
	border-right: 15px #eb311f solid; */
/* } */

::selection {
  color: red;
  background: yellow;
}

.showNoteTimes {
  display: none;
  position: fixed;
  left: 50%;
  right: 60px;
  height: 100%;
  background-color: red;
  z-index: 20;
  overflow-y: auto;
}

.LetterSheetDetail {
  z-index: 10 !important;
}

